
  
  <div class="container">
      <div class="row" *ngIf="authError">
          <div class="col-12 alert alert-danger">
            {{ authError?.message }}
          </div>
        </div>
      <div class="row">
          <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="form_main">
                    <h4 class="heading"><strong>REGISTRO </strong> DE USUARIO <span></span></h4>
                    <div class="form">
                    <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm" #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                        <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="Nombre">
                        <br>
                        <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="" placeholder="Apellido">
                        <br>
                        <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email">
                        <br>
                        <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Password">
                        <br>
                        <input name="password" type="password" class="form-control" placeholder="Confirme Password">
                        <br>
                        <button class="btn btn-primary" type="submit">Submit</button>
                         
                    </form>
                </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
    </div>
  </div>