<div class="container">
        <div class="row">
                <h2 style="text-align: center;">Agregar Estudiante</h2>
                <div class="col-md-6">
                        <form (ngSubmit)="agregar()">
                                <label for="" style="color: chocolate;">Nombre</label>
                                <input type="text" placeholder="Ingresa tu nombre" name="nombre" class="form-control"
                                        [(ngModel)]="item.nombre">
                                <label for="" style="color: chocolate;">Nota 1</label>
                                <input type="number" placeholder="Nota 1" id="val1" name="nota1" class="form-control"
                                        [(ngModel)]="item.nota1">
                                <label for="" style="color: chocolate;">Nota 2</label>
                                <input type="number" placeholder="Nota 2" id="val2" name="nota2" class="form-control"
                                        [(ngModel)]="item.nota2">
                                <button class="btn btn-warning mt-3" type="submit">Agregar</button>
                                <br>


                                <!--<div class="col-md-6">
                                        <a href="" routerLink="/view" class="btn btn-primary">View Student</a>
                                </div>-->
                        </form>
                </div>
        </div>
</div>